// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rank {
  font-size: smaller;
  font-weight: bold;
}


.btn-container {
	margin-top: 50px;
}

.point-button {
	cursor: pointer;
	text-align: center;
	font-size: 35px;
}

#vs {
	font-size: 45px;
}

.score {
	text-align: center;
	font-size: 45px;
	margin-bottom: 45px;
}	